.filters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  input {
    padding: 5px;
    margin-right: 10px;
  }

  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      background-color: #ccc;
      color: #666;
    }
  }
}
